@model IEnumerable<EdjeBlog.Models.Page>

@{
    ViewBag.Title = "[ Rikard Edje Blog | Pages]";
    foreach (var item in Model) {
        <div>
             @Html.ActionLink(item.Title, "Details", "Page", new { title = item.Title}, new { @class="link-style-post"})
       </div>
    } 
}       
        

 