@model EdjeBlog.Models.ArchiveIndexViewModel

@{
    
    ViewBag.Title = "[ Rikard Edje Blog | Archive ]";
    
    foreach (var year in Model.Years)
    {
        {   
            var style = "btn";
            if(year == Model.CurrentYear)
            {
                style = "btn btn-primary";
            }
            <span>
                @Html.ActionLink(year, "Index", "Archive", new { year = year }, new { @class=style})
            </span>                         
        }
    }
}

@foreach (var item in Model.Posts) {
    DateTime tempDate = DateTime.Parse(item.Date);
    string day = tempDate.DayOfWeek.ToString();
    string year = tempDate.Year.ToString();    
       
    <div>
         @Html.ActionLink(item.Date + " " + item.Title, "Details", "Archive", new { date = item.Date, title = item.Title}, new { @class="date-style"})
   </div>
}
 