@model EdjeBlog.Models.ArchiveIndexViewModel

@{
    
    ViewBag.Title = "[edjeblog_archive]";
    
    foreach (var year in Model.Years)
    {
        {   
            
            var style = "btn";
            if(year == Model.CurrentYear)
            {
                style = "btn btn-primary";
            }
            <span>
                @Html.ActionLink(year, "Index", "Archive", new { year = year }, new { @class=style})
            </span>                         
        }
    }
}

@foreach (var item in Model.Posts) {
    DateTime tempDate = DateTime.Parse(item.Date);
    string day = tempDate.DayOfWeek.ToString();
    string year = tempDate.Year.ToString();    
       
    <span>
        <br />
         @Html.ActionLink(item.Date, "Details", "Archive", new { date = item.Date, title = item.Title}, new { @class="date-style"})
         @Html.ActionLink(item.Title, "Details", "Archive", new { date = item.Date, title = item.Title}, new { @class="link-style-post"})
   </span>
}        
        
 