
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("/Content/css")
    
</head>
<body>
    <div id="container" class="container-fluid">

        <div class="masthead">
        <h3 class="muted">Rikard Edje</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="/Home">Home</a></li>
                <li><a href="/Archive">Archive</a></li>
                <li><a href="/Page">Pages</a></li>
                <li><a href="/Page/About">About</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

        <div id="content-row" class="row-fluid">
		    <div class="span12">
                @RenderBody()
		    </div>                        
        </div>
        <div id="footer-row" class="row">
            <div id="footer" class="span12">
                <hr />
	        </div>
        </div>
    </div>


</body>
</html>
