@model EdjeBlog.Models.Page

<div class="page">
    <div>
        <h1>@Model.Title</h1>
    </div>
    <div class="body">
        @Html.Raw(Model.Body)
    </div>

    <table>
        <tr>
            <td>
            @{
                foreach (var tag in Model.Tags)
                {   
                    if(tag.Length > 0)
                    {
                        <span>
                            @Html.ActionLink(tag, "Tag", "Page", new { tag = tag }, new { @class="link-style-tag"})

                        </span>
                            
                    }
                }
            }
            </td>

        </tr>
        </table>
	    <br />
</div>